{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": ["*.json", "*.jsonc", ".babelrc", ".prettierrc"],
			"options": {
				"parser": "json"
			}
		}
	],
	"singleQuote": false
}
